<h1>
Convert <%=@currency_o%> to <%=@currency_d%> 
</h1>
<p>
  1 <%=@currency_o%> equals <%=@result%> <%=@currency_d%>
</p>
<p>Go <a href="/<%=@currency_o%>">back</a>.</p> <!--here write well, not "/:currency_o"-->
<%#= params %>
<%#= @keys_c %>
<%#= @info %>
